# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Pods/
.flutter-plugins
*.iml
*.ipr
*.iws
.idea/
android/.gradle/
android/app/**/output.json
android/local.properties

# Misc
*.log
